In [1]:
import pandas as pd
import numpy as np


df=pd.read_csv('/content/marketing.csv')

In [2]:
df.head()

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,...,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,...,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,...,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,...,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,...,5,0,0,0,0,0,0,3,11,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2240 non-null   int64
 1   ID                   2240 non-null   int64
 2   Year_Birth           2240 non-null   int64
 3   Education            2240 non-null   object
 4   Marital_Status       2240 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2240 non-null   int64
 7   Teenhome             2240 non-null   int64
 8   Dt_Customer          2240 non-null   object
 9   Recency              2240 non-null   int64
 10  MntWines             2240 non-null   int64
 11  MntFruits            2240 non-null   int64
 12  MntMeatProducts      2240 non-null   int64
 13  MntFishProducts      2240 non-null   int64
 14  MntSweetProducts     2240 non-null   int64
 15  MntGoldProds         2240 non-null   int64
 16  NumDealsPurchases    2240 non-null   int64
 17  NumWebPurchases      2240 non-null   int64
 18  NumCatalogPurchases  2240 non-null   int64
 19  NumStorePurchases    2240 non-null   int64
 20  NumWebVisitsMonth    2240 non-null   int64
 21  AcceptedCmp3         2240 non-null   int64
 22  AcceptedCmp4         2240 non-null   int64
 23  AcceptedCmp5         2240 non-null   int64
 24  AcceptedCmp1         2240 non-null   int64
 25  AcceptedCmp2         2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Z_CostContact        2240 non-null   int64
 28  Z_Revenue            2240 non-null   int64
 29  Response             2240 non-null   int64
dtypes: float64(1), int64(26), object(3)
memory usage: 525.1+ KB

In [4]:
#필요없는 컬럼 삭제


df.drop(['Z_CostContact','Z_Revenue'],axis=1,inplace=True)

In [8]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Response                0
age                     0
dtype: int64

In [6]:
# 데이터 생성 연도인 2021년 기준으로 나이(age) 컬럼 생성

df['age']=2021-df['Year_Birth']

In [10]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,age
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,4,7,0,0,0,0,0,0,1,64
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,2,5,0,0,0,0,0,0,0,67
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,10,4,0,0,0,0,0,0,0,56
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,4,6,0,0,0,0,0,0,0,37
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,6,5,0,0,0,0,0,0,0,40

In [ ]:
from scipy.stats import chi2_contingency


# 카이제곱 검정
crosstab = pd.crosstab(df['Marital_Status'], df['Income'])
chi2, p, _, _ = chi2_contingency(crosstab)

# 결과 출력
print("Chi-square value:", chi2)
print("p-value:", p)

# 결과 해석
alpha = 0.05
if p < alpha:
    print("결혼 여부와 수입 간에는 통계적으로 유의미한 관계가 있다. (귀무가설 기각)")
else:
    print("결혼 여부와 수입 간에는 통계적으로 유의미한 관계가 없다. (귀무가설 채택)")

Chi-square value: 12995.04698252547
p-value: 0.9999997216049014
결혼 여부와 수입 간에는 통계적으로 유의미한 관계가 없다. (귀무가설 채택)

In [ ]:
from scipy.stats import chi2_contingency
# 귀무가설 : 교육수준과 수입 간에 관계가 없다.

crosstab = pd.crosstab(df['Education'], df['Income'])
chi2, p, _, _ = chi2_contingency(crosstab)


# 0.05 넘으면 채택, 아니면 기각
if p<0.05:
	print('귀무가설 기각 : 교육수준과 수입간에 유의미한 관계있다.')
else:
	print('귀무가설 채택 : 교육수준과 수입간에 유의미한 관계없다.')

귀무가설 기각 : 교육수준과 수입간에 유의미한 관계있다.

In [ ]:
df['Income'] = df.groupby('Education')['Income'].transform(lambda x: x.fillna(x.mean()))